<div class="relative flex items-start">
  <div class="flex h-6 items-center">
    <%= check_box_tag name, checkbox_value, checked, id: id, class: "h-4 w-4 rounded border-gray-300 text-primary-600 focus:ring-primary-600", required: options[:required] %>
  </div>
  <div class="ml-3 text-sm leading-6">
    <label for="<%= id %>" class="font-medium text-gray-900"><%= label %></label>
    <span class="text-gray-500"><span class="sr-only"><%= label %> </span><%= options[:hint] %></span>
  </div>
</div>
