<div data-controller="datepicker" <%= tag.attributes(class: container_classes) %>
     data-action="keydown.esc->datepicker#close"
     data-datepicker-url-value="<%= calendar_datepicker_path %>">
  <%= hidden_field_tag name, value, data: { "datepicker-target": "viewValue" } %>
  <%= text_field_tag nil, "#{value.blank? ? "" : I18n.l(value)}",
    type: type,
    id: id,
    class: input_classes,
    placeholder: options[:placeholder],
    disabled: options[:disabled],
    required: options[:required],
    readonly: options[:readonly],
    data: { 
      "datepicker-target": "viewInput", 
      "action": "input->datepicker#change focus->datepicker#focus"
    }
  %>
  <% if options[:has_error] %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <%= inline_svg_tag "heroicons-calendar.svg", class: "h-5 w-5 text-red-500" %>
    </div>
  <% else %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <%= inline_svg_tag "heroicons-calendar.svg", class: "h-5 w-5" %>
    </div> 
  <% end %>
  <div class="absolute top-10 w-3/4 inset-y-0 left-0 hidden"
       data-datepicker-target="datepicker">
    <!-- Render the datepicker -->
    <%= datepicker_month_calendar(
        current_date: value,
        month_date: value,
        route: "calendar_datepicker_path",
        events:
      )
    %>
  </div>
</div>
<!-- Hint -->
<% if options[:hint].present? && !options[:has_error] %>
  <p class="mt-2 text-sm text-gray-500"><%= options[:hint] %></p>
<% end %>
<!-- Error -->
<% if options[:has_error] %>
  <p class="mt-2 text-sm text-red-600">
    <% options[:errors].each do |error| %>
      <%= error %>
    <% end %>
  </p>
<% end %>
