<div data-controller="datepicker visibility" <%= tag.attributes(class: container_classes) %> data-action="keydown.esc->datepicker#close">
  <% random_id = SecureRandom.hex(10) %>
  <%= hidden_field_tag name, value, data: { "datepicker-target": "viewValue" } %>
  <%= text_field_tag nil, "#{value.blank? ? "" : I18n.l(value)}",
    type: type,
    id: id,
    class: input_classes,
    placeholder: options[:placeholder],
    disabled: options[:disabled],
    required: options[:required],
    readonly: options[:readonly],
    data: { "datepicker-target": "viewInput", "action": "focus->visibility#toggleTargets" }
  %>
  <% if options[:has_error] %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
      </svg>
    </div>
  <% else %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
      </svg>
    </div> 
  <% end %>
  <div class="absolute top-12 w-3/4 inset-y-0 left-0 hidden"
       id="<%= random_id %>"
       data-visibility-target="hideable"
       data-datepicker-target="datepicker">
    <%= datepicker_month(date: value, id: random_id) %>
  </div>
</div>
<!-- Hint -->
<% if options[:hint].present? && !options[:has_error] %>
  <p class="mt-2 text-sm text-gray-500"><%= options[:hint] %></p>
<% end %>
<!-- Error -->
<% if options[:has_error] %>
  <p class="mt-2 text-sm text-red-600">
    <% options[:errors].each do |error| %>
      <%= error %>
    <% end %>
  </p>
<% end %>
