<%= tag.div class: "#{has_icon?(options) ? InputClasses.icon.render : ''}" do %>
  <%= text_field_tag name, value, class: options[:class] %>
  <% if options[:has_error] %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <%= inline_svg_tag "heroicons-exclamation-circle.svg", class: "h-5 w-5 text-red-500" %>
    </div>
  <% end %>
  <% unless options[:trailing_text].blank? || options[:has_error]%>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <span class="text-gray-500 sm:text-sm"><%= options[:trailing_text] %></span>
    </div>
  <% end %>
  <% unless options[:leading_text].blank? %>
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pr-3">
      <span class="text-gray-500 sm:text-sm"><%= options[:leading_text] %></span>
    </div>
  <% end %>    
  <% if options[:hint].present? && !options[:has_error] %>
    <p class="mt-2 text-sm text-gray-500"><%= options[:hint] %></p>
  <% end %>
<% end %>
<% if options[:has_error] %>
  <p class="mt-2 text-sm text-red-600">
    <% options[:errors].each do |error| %>
      <%= error %>
    <% end %>
  </p>
<% end %>