<%= turbo_frame_tag id do %>
  <section class="text-center bg-white p-2">
    <div class="flex items-center text-gray-900">
      <% params_prev = { param => month_date.prev_month, id:, route:, current_date: } %>
      <% params_next = { param => month_date.next_month, id:, route:, current_date: } %>
      <%= link_to send(route, params_prev), method: :get, data: { turbo_stream: "" }, "data-turbo-prefetch": "false", class: "-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only">Previous month</span>
        <%= inline_svg_tag "heroicons-chevron-left.svg", class: "h-5 w-5" %>
      <% end %>
      <div class="flex-auto text-sm font-semibold"><%= I18n.l(month_date, format: "%B") %> <%= month_date.year %></div>
      <%= link_to send(route, params_next), method: :get, data: { turbo_stream: "" }, "data-turbo-prefetch": "false", class: "-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500" do %>
        <span class="sr-only">Next month</span>
        <%= inline_svg_tag "heroicons-chevron-right.svg", class: "h-5 w-5" %>
      <% end %>
    </div>
    <%= render "shared/calendar/weekend_names" %>
    <!-- Rendering of the cells -->
    <div class="isolate mt-2 grid grid-cols-7 bg-gray-200 text-sm">
      <% whole_month_range(month_date).each_slice(7) do |week| %>
        <% week.each do |date| %>
          <%= content_tag :button, id: date.to_s, class: calendar_cell_classes_borderless(month_date, date), 
              data: {
                controller: "tooltip", 
                tooltip_target: "content",
                tooltip_data_value: find_event(date, events)&.title,
                action: "datepicker#click"
              } do %>
            <%= content_tag :time, datetime: date.to_s, dateformatted: I18n.l(date), class: calendar_cell_inside_classes(month_date, date, events) do %>
              <%= date.day %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="mx-auto">
      <%= link_to "Heute", send(route, { param => Date.today, id:, route:, current_date: }), method: :get, data: { turbo_stream: "" }, class: "text-sm text-primary-500 hover:text-primary-700" %>
    </div>
  </section>
<% end %>

