<%= turbo_frame_tag :calendar do %>
  <header class="flex items-center justify-between border-b border-gray-200 px-6 py-4">
    <h1 class="text-base font-semibold leading-6 text-gray-900">
      <time datetime="<%= year_date.year %>"><%= year_date.year %></time>
    </h1>
    <div class="relative flex items-center rounded-md bg-white shadow-sm md:items-stretch">
      <%= link_to calendar_year_path(year_date: year_date - 1.year), method: :get, data: { turbo_stream: "" }, class: "flex h-9 w-12 items-center justify-center rounded-l-md border-y border-l border-gray-300 pr-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pr-0 md:hover:bg-gray-50" do %>
        <span class="sr-only">Previous year</span>
        <%= inline_svg_tag "heroicons-chevron-left.svg", class: "h-5 w-5" %>
      <% end %>
      <%= button_to "Today", calendar_year_path(date: Date.today), method: :get, data: { turbo_stream: "" }, class: "hidden border-y border-gray-300 px-3.5 h-full text-sm font-semibold text-gray-900 hover:bg-gray-50 focus:relative md:block" %>
      <span class="relative -mx-px h-5 w-px bg-gray-300 md:hidden"></span>
      <%= link_to calendar_year_path(year_date: year_date.next_year), method: :get, data: { turbo_stream: "" }, class: "flex h-9 w-12 items-center justify-center rounded-r-md border-y border-r border-gray-300 pl-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pl-0 md:hover:bg-gray-50" do %>
        <span class="sr-only">Previous year</span>
        <%= inline_svg_tag "heroicons-chevron-right.svg", class: "h-5 w-5" %>
      <% end %>
    </div>
  </header>
  <div class="bg-white">
    <div class="mx-auto grid max-w-3xl grid-cols-1 gap-x-8 gap-y-8 px-4 py-8 sm:grid-cols-2 sm:px-6 xl:max-w-none xl:grid-cols-3 xl:px-8 2xl:grid-cols-4">
      <% 1.upto(12) do |i| %>
        <%= compact_month_calendar(month_date: Date.parse("#{year_date.year}-#{i}-01"), navigation: false, events:) %>
      <% end %>
    </div>
  </div>
<% end %>