<div id="<%= dom_id(data.picture) %>">
  <%= link_to asset_path(data.large), 
        "data-src": asset_path(data.large),
        id: dom_id(data.picture, :link),
        class: class_names('lightbox block relative m-1 group', { "border-2 border-indigo-600": data.picture.selected }), 
        style: "#{gallery_style(data.width, data.height)}" do %>
    <div class="absolute inset-0 hidden group-hover:block">
      <%= button_tag nil, class: button_classes("absolute z-10 right-2 top-2").render(size: :"sm-rounded", color: :"outline-light-gray") do %>
        <%= inline_svg_tag "heroicons-plus.svg", class: "h-4 w-4 text-gray-500" %>
      <% end %>      
    </div>
    <i class="block" style="<%= i_style(data.width, data.height)%>"></i>
    <%= image_tag url_for(data.thumb), class: "img-gallery js-lazy-image", data: { src: url_for(data.thumb) } %>
  <% end %>

  <%= render "form", picture: data.picture %> 
</div>