<div class="border-b border-gray-200 pb-5 pt-5">
  <h1 class="text-base font-semibold leading-6 text-gray-900">Neuer Account</h1>
</div>

<%= render_form_for(@user_form, url: sign_up_path, class: "space-y-6") do |f| %>
  <% if @user_form.errors.any? %>
    <div class="rounded-md bg-red-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">Es gab <%= pluralize(@user_form.errors.count, "Fehler") %> beim Absenden</h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <% @user_form.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  <% end %>

  <div>
    <%= f.label :email, label: "Email" %>
    <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password, label: "Passwort" %>
    <%= f.password_field :password, autocomplete: "new-password", hint: "Das Passwort muss mindestens 12 Zeichen lang sein" %>
  </div>

  <div>
    <%= f.label :password_confirmation, label: "Passwort Wiederholung" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>  

  <div>
    <%= f.submit "Neuen Account erstellen", class: button_classes.render(size: :lg) %>
  </div>

  <div class="text-sm leading-6">
    <%= link_to "zurück", sign_in_path, class: link_classes %>
  </div>  
<% end %>
