<%= render 'layouts/flash_wrapper' %>
<%= render_form_for(form, url: settings_password_path, method: :patch) do |f| %>
  <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-gray-900/10 pb-10 pt-10 md:grid-cols-3">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900">Passwort</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Hier kannst Du ein neues Passwort angeben.</p>
    </div>

    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
      <div class="sm:col-span-4">
        <%= f.label :password, label: "Passwort" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="sm:col-span-4">
        <%= f.label :password_confirmation, label: "Bestätige das Paswwort" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>      
      <div class="sm:col-span-4">
        <%= f.submit "Ändere Dein Passwort", class: button_classes.render(size: :lg) %>
      </div>          
    </div>
  </div>
<% end %>
