<div class="search">
  <%= form_with(url: baits_path, method: :get,
        data: { turbo_frame: "results", turbo_action: "advance" } ) do |f| %>
    <div>
      <%= f.search_field :name, placeholder: 'Name...',
            value: params[:name] %>
    </div>
    <div>
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "results" do %>
  <div class="baits">
    <%= render @baits %>
  </div>
<% end %>
