<div id="<%= dom_id picture %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= picture.name %>
  </p>

  <%= image_tag url_for(picture.image) if picture.image.attached? %>
  <%= image_tag picture.image.variant(resize_to_limit: [100, 100]), class: "mt-4" %>
  <%= image_tag picture.image.variant(convert: :png), class: "mt-4" %>

  <% if action_name != "show" %>
    <%= link_to "Show this picture", picture, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this picture', edit_picture_path(picture), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
