<!-- Standard view for days from Monday to Sunday -->
<div class="mt-6 grid grid-cols-7 text-xs leading-6 text-gray-500">
  <div><%= t('date.abbr_day_names')[1] %></div>
  <div><%= t('date.abbr_day_names')[2] %></div>
  <div><%= t('date.abbr_day_names')[3] %></div>
  <div><%= t('date.abbr_day_names')[4] %></div>
  <div><%= t('date.abbr_day_names')[5] %></div>
  <div><%= t('date.abbr_day_names')[6] %></div>
  <div><%= t('date.abbr_day_names')[0] %></div>
</div>