<%= render_form_for(form, url: examples_snippets_forms_path, class: "w-full lg:w-4/12 mt-8") do |f| %>
  <% if form.errors.any? %>
    <div class="rounded-md bg-red-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">There were <%= pluralize(form.errors.count, "error") %> with your submission</h3>
          <div class="mt-2 text-sm text-red-700">
            <ul role="list" class="list-disc space-y-1 pl-5">
              <% form.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  <% end %>

  <div>
    <%= f.label :firstname, label: "Vorname" %>
    <%= f.text_field :firstname, placeholder: "Vorname", hint: "Das ist ein Hint Text" %>
  </div>
  
  <div>
    <%= f.label :lastname, class: "mt-6", label: "Nachname" %>
    <%= f.text_field :lastname %>
  </div>

  <div>
    <%= f.label :salary, class: "mt-6", label: "Gehalt" %>
    <%= f.money_field :salary, width_class: "w-4/12" %>
  </div>

  <div>
    <%= f.label :framework, class: "mt-6", label: "Framework" %>
    <%= f.custom_select :framework, @entries, prompt: "Wähle das Framework" %>
  </div>

  <fieldset class="mt-6">
    <legend class="sr-only">Notifications</legend>
    <div class="space-y-5">
      <% Examples::UserForm::TAGS.each do |key| %>
        <div class="relative flex items-start">
          <div class="flex h-6 items-center">
            <%= f.check_box :tags, { id: "user_form_#{key}", class: "h-4 w-4 rounded border-gray-300 text-primary-600 focus:ring-primary-600", multiple: true, checked: f.object.tags&.include?(key.to_s) }, key, nil %>
          </div>
          <div class="ml-3 text-sm leading-6">
            <%= f.label key, for: "checkbox_#{key}" %>
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>

  <div class="mt-6">
    <fieldset>
      <legend class="sr-only">Notifications</legend>
        <div class="space-y-5">
          <%= f.custom_check_box :check_box_test, "Das ist mein Label", hint: "Das ist ein Hint Text" %>
          <%= f.custom_check_box :check_box_test2, "Das ist mein Label", hint: "Das ist ein Hint 2 Text" %>
          <%= f.custom_check_box :check_box_test3, "Das ist mein Label", hint: "Das ist ein Hint 3 Text" %>
        </div>
      </legend>
    </fieldset>
  </div>

  <div class="mt-6">
    <%= f.custom_check_box :accept, "Akzeptieren Sie die Bedingungen", {}, true %>
  </div>

  <div class="mt-6">
    <%= f.custom_check_box :accept2, "Akzeptieren Sie die Bedingungen hier bitte", {}, true %>
  </div>  
  
  <%= f.submit "Speichern", class: button_classes("mt-6").render(size: :lg) %>
<% end %>
